div{
    border: black solid;
    width: 30%;
    float:left;

}
div  img{
      width: 100%;
      height: 100px;
}
div p{
    padding:5px;
}
#a{
    border: solid black 1px;
}
div div{
    text-align: center;
}

